header {
  background-image: url("/assets/images/background-crew-desktop.jpg");
  background-repeat: no-repeat;
  max-width: 100%;
  height: 100vh;
  background-position: center;
  background-size: cover;
  display: flex;
  justify-content: center;
  align-items: center;
}

.crew-div {
  display: flex;
  justify-content: space-around;
  width: 50%;
  gap: 30%;
  align-items: center;
}
.text {
  width: 485px;
}

.meet {
  position: absolute;
  font-family: "Barlow Condensed";
  font-style: normal;
  font-weight: 400;
  font-size: 28px;
  line-height: 34px;
  left: 16.88%;
  right: 1.4%;
  top: calc(20% - 34px);
  /* identical to box height */
  letter-spacing: 4.725px;
  text-transform: uppercase;

  color: #ffffff;
}

.oval {
  width: 15px;
  height: 15px;
  border-radius: 50%;
  cursor: pointer;
  background: #ffffff;
  mix-blend-mode: normal;
  opacity: 0.17;
}

.oval-div {
  display: flex;
  justify-content: space-around;
  margin-top: 100px;
  gap: 10%;
  width: 132px;
  height: 15px;
}
.color {
  background-color: white;
  opacity: 100%;
}
.crew-div h3 {
  /* Commander */
  height: 37px;
  font-family: "Bellefair";
  font-style: normal;
  font-weight: 400;
  font-size: 32px;
  line-height: 37px;
  /* identical to box height */
  text-transform: uppercase;
  color: #ffffff;
  mix-blend-mode: normal;
  opacity: 0.5;
}

.crew-div h1 {
  width: 750px;
  height: 64px;
  font-family: "Bellefair";
  font-style: normal;
  font-weight: 400;
  font-size: 56px;
  line-height: 64px;
  text-transform: uppercase;
  color: #ffffff;
}

.crew-div p {
  width: 444px;
  height: 128px;
  font-family: "Barlow";
  font-style: normal;
  font-weight: 400;
  font-size: 18px;
  line-height: 32px;
  /* or 178% */
  color: #d0d6f9;
}

@media (max-width: 768px) {
  header {
    background-image: url("/assets/images/background-crew-tablet.jpg");
    background-repeat: no-repeat;
    max-width: 100%;
    height: 100vh;
    background-position: center;
    background-size: 100% 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
  }
  .img {
    width: 300px;
    height: auto;
    align-items: center;
    text-align: center;
  }
  .crew-div {
    display: flex;
    flex-direction: column-reverse;
    justify-content: center;
    align-items: center;
    text-align: center;
    // text-align: center;
    // align-items: center;
    // justify-content: space-between;
  }
  .text {
    width: 488px;
    // // align-items: center;
    text-align: center;
  }
  .meet {
    position: absolute;
    height: 24px;
    left: 5%;
    right: 0;
    top: calc(20% - 204px / 2);
    font-family: "Barlow Condensed";
    font-style: normal;
    font-weight: 400;
    font-size: 20px;
    line-height: 24px;
    /* identical to box height */

    letter-spacing: 3.375px;
    text-transform: uppercase;
  }
  .crew-div h3 {
    font-family: "Bellefair";
    font-style: normal;
    font-weight: 400;
    font-size: 24px;
    line-height: 28px;
    text-align: center;
    // position: absolute;
    height: 28px;
    // top: calc(50% - 28px / 2 - 77px);
    /* identical to box height */

    text-transform: uppercase;
    color: #ffffff;
    mix-blend-mode: normal;
    opacity: 0.5;
  }
  .crew-div h1 {
    font-family: "Bellefair";
    font-style: normal;
    font-weight: 400;
    font-size: 40px;
    line-height: 46px;
    /* identical to box height */
    // text-align: center;
    height: 46px;
    text-transform: uppercase;
    color: #ffffff;
    width: 457px;
  }
  .crew-div p {
    font-family: "Barlow";
    font-style: normal;
    font-size: 16px;
    line-height: 28px;
    /* or 175% */
    height: 84px;
    color: #d0d6f9;
    width: 458px;
  }
  .oval-div {
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    margin-top: 50px;
    width: auto;
    height: 15px;
  }
  .img {
    width: 456.37px;
    height: 472px;
  }
}
@media (max-width: 375px) {
  header {
    background-image: url("/assets/images/background-crew-mobile.jpg");
    background-repeat: no-repeat;
    max-width: 100%;
    height: 100vh;
    background-position: center;
    background-size: 100% 100%;
    border: 0px;
    margin: 0px;
    box-sizing: border-box;
  }
  .img {
    width: 177.12px;
    height: 222px;
  }

  .crew-div {
    display: flex;
    flex-direction: column-reverse;
    justify-content: center;
    align-items: center;
    text-align: center;
  }
  .crew-div h3 {
    font-family: "Bellefair";
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 18px;
    text-align: center;
    text-transform: uppercase;

    color: #ffffff;

    mix-blend-mode: normal;
    opacity: 0.5;
  }
  .crew-div h1 {
    font-family: "Bellefair";
    font-style: normal;
    font-weight: 400;
    font-size: 24px;
    line-height: 28px;
    height: 28px;
    width: 350px;
    /* identical to box height */

    text-align: center;
    text-transform: uppercase;

    color: #ffffff;
  }
  .crew-div p {
    height: 100px;
    font-family: "Barlow";
    font-style: normal;
    font-size: 15px;
    line-height: 25px;
    /* or 167% */
    width: 327px;
    text-align: center;

    color: #d0d6f9;
  }
  .text {
    width: 327px;
    // // align-items: center;
    text-align: center;
  }
  .oval {
    width: 10px;
    height: 10px;
  }
  .meet {
    font-family: "Barlow Condensed";
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 19px;
    letter-spacing: 2.7px;
    text-transform: uppercase;
    display: flex;
    align-items: center;
    justify-content: center;
    position: absolute;
    top: 15%;
  }
}
