<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8" />
  <meta http-equiv="X-UA-Compatible" content="IE=edge" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0" />
  <link rel="preconnect" href="https://fonts.googleapis.com" />
  <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
  <link href="https://fonts.googleapis.com/css2?family=Bellefair&display=swap" rel="stylesheet" />
  <link rel="preconnect" href="https://fonts.googleapis.com" />
  <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
  <link href="https://fonts.googleapis.com/css2?family=Barlow:wght@100&display=swap" rel="stylesheet" />
  <title>Document</title>
</head>

<body>
  <header>

    <div class="crew-div">
      <div class="text">
        <div class="text-div">
          <div class="meet">
            <h4 style="color: #d0d6f9">
              <span style="color: #41434b; font-weight: 700">02</span> Meet your
              crew
            </h4>
          </div>
          <div>
            <h3>{{ Commander }}</h3>
            <h1>{{ DouglasHurley }}</h1>
            <p>{{ paragraph1 }}</p>
          </div>
        </div>
        <div class="oval-div">
          <div class="oval" [class.color]="id === 'mission'" (click)="tabChange('mission')" (click)="changeImgm()"
            (click)="change2()" (click)="changeTxt()" (click)="changeh3()"></div>
          <div class="oval" [class.color]="id === 'white'" (click)="tabChange('white')" (click)="changeImg2()"
            (click)="changeImg()" (click)="change()" (click)="changeTxt2()" (click)="changeh32()"></div>
          <div class="oval" [class.color]="id === 'version'" (click)="tabChange('version')" (click)="changeImg2()"
            (click)="change3()" (click)="changeTxt3()" (click)="changeh33()"></div>
          <div class="oval" [class.color]="id === 'oval'" (click)="tabChange('oval')" (click)="changeImg3()"
            (click)="change4()" (click)="changeTxt4()" (click)="changeh34()"></div>
        </div>
      </div>
      <div class="img2">
        <img class="img" src="{{ img }}" alt="" />
      </div>
    </div>
  </header>
</body>

</html>